<head>
    <script>
    var submit = function(){
        document.blog_edit.submit();
    }
    </script>
</head>
<body>
    <%= flash[:danger] %>
    <h1>記事編集</h1>
    <form name="blog_edit" action="/blogs/<%= @blog.id %>" method="post">
    <input type="hidden" name="_method" value="patch" />
        <td>タイトル</td><br>
        <input type="text" name="title" value= <%= @blog.title %> /><br>
        <td>本文</td><br>
        <input type="text" name="content" value= <%= @blog.content %> /><br>
        <input type="button" value="登録" onclick="submit()">
    <%= link_to "戻る",blog_path %>
    </form>
</body>