<head>
<style type="text/css">
.jumbotron { 
    background:url("<%= asset_path('Desert 2.jpg') %>") 
    center no-repeat; 
    background-size: cover;
}
header .container {
    margin-top: 8%;
}
.blog_name {
    color: #EEEEEE;
    margin: 10px auto;
    text-align: center;
    font-size: 3rem;
}
.title_link {
    color: rgba(0, 0, 0, 1);
    font-size: 3rem;
    text-decoration: none;
    transition: all  0.3s ease;
}
.title_link:hover {
    color: #008080;
    text-decoration: none; 
}
</style>
</head>
<body>
    <%= flash[:success]%>
    <header class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="blog_name">Rails Tutorial</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <% @blogs.each do |blogs| %>
            <div class="col-lg-8 mx-auto">
                <div class="border-bottom" style="padding: 10px;">
                    <%= link_to "#{blogs.title}",blog_path(:id => "#{blogs.id}") ,class: "title_link" %><br>
                    <p style="color: rgba(0, 0, 0, 0.5);">
                    <%= blogs.create_user %> が <%= blogs.created_at.strftime('%Y年%m月%d日') %>に投稿(最終更新日:<%= blogs.updated_at.strftime('%Y年%m月%d日') %>)
                    </p>
                </div>
            </div>
            <% end %>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <%= paginate @blogs %>
            </div>
        </div>
    </div>
</body>