<!DOCTYPE html>
<html>
  <head>
    <title>RailsTutorial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <style type="text/css">
    .nav-link {
        color: #fff;
    }
    .nav-link:hover {
        color: rgba(255, 255, 255, 0.8);
    }
    .navbar-light .navbar-nav .nav-link {
        color: #888888;
    }
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: rgba(136, 136, 136, 0.8);
    }
    </style>
  </head>
  <body>
    <% unless request.url.include?('users')  %>
      <nav class="navbar navbar-expand-lg navbar-light bg-dark" id="mainNav">
      <div class="container">
          <% if user_signed_in? %>
              <a class="navbar-brand" style="color: #fff">ログイン:<%= current_user.username %> </a>
              <div class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}, class: "nav-link" %>
              </div>
          <% else %>
              <div class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
              </div>
              <div class="nav-item">
                  <%= link_to "ユーザー登録", new_user_registration_path, class: "nav-link" %>
              </div>
          <% end %>
          <div class="navbar-toggler navbar-toggler-right">
              <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="color: #fff;">
                  メニュー
              </button>
          </div>
          <% if user_signed_in? %>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                          <div class="nav-link">
                          <%= search_form_for @search do |q|%>
                              <%= q.search_field :title_or_content_or_create_user_cont_all, placeholder: "フリーワード検索" %>　　
                              <%= q.submit "検索", class: "btn btn-dark btn-sm btn-outline-light" %>
                          <% end %>
                          </div>
                      </li>
                      <li class="nav-item">
                          <%= link_to "投稿記事一覧", blogs_path, class: "nav-link" %>
                      </li>
                      <li class="nav-item">
                        <%= link_to "日付検索", blog_search_path, class: "nav-link" %>
                      </li>
                      <li class="nav-item">
                          <%= link_to "記事投稿", new_blog_path, class: "nav-link" %>
                      </li>
                  </ul>
              </div>
          <% else %>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                          <div class="nav-link">
                          <%= search_form_for @search do |q|%>
                              <%= q.search_field :title_or_content_or_create_user_cont_all, placeholder: "フリーワード検索" %>　　
                              <%= q.submit "検索", class: "btn btn-dark btn-sm btn-outline-light" %>
                          <% end %>
                          </div>
                      </li>
                      <li class="nav-item">
                          <%= link_to "投稿記事一覧", blogs_path, class: "nav-link" %>
                      </li>
                      <li class="nav-item">
                            <%= link_to "日付検索", blog_search_path, class: "nav-link" %>
                      </li>
                  </ul>
              </div>
          <% end %>
      </div>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
